#--------------------------------------------------
# Répertoire : /news/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

ErrorDocument 404 /interview/erreur.php

# Article sans numéro de page
RewriteRule ^([-a-zA-Z-0-9]+)--([0-9]+)\.html$   /interview/article.php?nomfichier=$1&id=$2 [L]

# Article sans numéro de page + pager
RewriteRule ^([-a-zA-Z-0-9]+)--([0-9]+)-([0-9]+)\.html$   /interview/article.php?nomfichier=$1&id=$2&p=$3 [L]
