#--------------------------------------------------
# Répertoire : /news/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

ErrorDocument 404 /lexique/erreur.php


# Article sans numéro de page
RewriteRule ^([-a-zA-Z-0-9]+)--([0-9]+)\.html$   /lexique/article.php?nomfichier=$1&id=$2 [L]