RedirectPermanent ?p=1 http://www.mango-surf.biz/galerie-photo/photographe/




#--------------------------------------------------
# Répertoire : /photo/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

ErrorDocument 404 /galerie-photo/erreur.php


# Page de listing portofolio
RewriteRule ^([-a-zA-Z-0-9]+)-([0-9]+)-([0-9]+)\.html$   /galerie-photo/photographe/portofolio.php?nomfichier=$1&id=$2&p=$3 [L]